@model HRMS.Models.HrmsUserAttendanceViewModel


@using (Html.BeginForm("AcceptApprovel", "HrmsEmpDashboard", FormMethod.Get, htmlAttributes: new { @id = "form-Get-Approvel-Attendance" }))
{



    <div class="form-group">
        <div class="col-md-12">

            <label class=" col-md-2">Manager_Remark</label>
            @Html.TextBoxFor(model => model.Manager_Remark, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Manager_Remark, "", new { @class = "text-danger" })
        </div>



    </div>
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>EMP_ID</th>
                <th>Remark</th>
                <th>IN_TIME</th>
                <th>OUT_TIME</th>
                <th>Is_Rejected</th>
                <th>Is_Approved</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.hrmsUserAttendance)
            {

                <tr>

                    <td>@item.EMP_ID</td>
                    <td>@item.Remark</td>
                    <td>@item.IN_TIME.ToString("hh:mm tt")</td>
                    <td>@item.OUT_TIME.ToString("hh:mm tt")</td>
                    <td>@item.Is_Rejected</td>
                    <td>@item.Is_Approved</td>
                    <td>@item.Manager_Remark</td>


                    @if (item.EMP_ID == Model.LogIn_ID)
                    {
                        <td>@Html.ActionLink("Delete", "DeleteApprovel", "HrmsEmpDashboard", new { Emp_Id = item.EMP_ID, Id = item.Id }, new { onclick = "return confirm('Are you sure you wish to delete this User: " + " ?');", @class = "btn btn-danger" })</td>
                    }
                    else
                    {
                        <td>@Html.ActionLink("Accept", "AcceptApprovel", "HrmsEmpDashboard", new { Emp_Id = item.EMP_ID, Id = item.Id, Manager_Remark = item.Manager_Remark }, new { onclick = "return confirm('Are you sure you wish to Accept this User: " + " ?');", @class = "btn btn-success" })</td>
                        <td>@Html.ActionLink("Reject", "RejectApprovel", "HrmsEmpDashboard", new { Emp_Id = item.EMP_ID, Id = item.Id }, new { onclick = "return confirm('Are you sure you wish to Reject this User: " + " ?');", @class = "btn btn-danger" })</td>


                    }

                </tr>

            }


        </tbody>


    </table>


}
<script src="~/Scripts/Dashboard/Dashboard.js"></script>
