@model HRMS.Models.HrmsUserAttendanceViewModel

@using (Html.BeginForm("SaveAttendanceApprovel", "HrmUserAttendance", FormMethod.Post, htmlAttributes: new { @id = "form-Get-Approvel-Attendance" }))
{

    <div class="form-group">

        <div class="col-md-10">

            <label class=" col-md-2">UserId</label>
            @Html.HiddenFor(model => model.ActionType)
            @Html.TextBoxFor(model => model.EMP_ID, new { @class = "form-control " })
            @Html.ValidationMessageFor(model => model.EMP_ID, "", new { @class = "text-danger" })
        </div>


        <div class="col-md-10" id="form1">
            <label class=" col-md-2">Approvel_Time</label>
            @Html.TextBoxFor(model => model.Approvel_In_Time, new { @class = "form-control ", @type = "time" })
            @Html.ValidationMessageFor(model => model.Approvel_In_Time, "", new { @class = "text-danger" })
        </div>

             <div class="form-group">                 <label class=" col-md-2">Remark</label>            <div class="col-md-10">                @Html.TextBoxFor(model => model.Remark, new { @class = "form-control", @placeholder = "first_Name" })                @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })            </div>        </div>

    </div>


    <div class="form-group btn-buttn" style="margin-top:2%; margin-left:65%">
        <button type="submit" class="btn btn-success" id="submitbutton">Submit</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Close</button>
    </div>


}




